@model MapLend.Mvc.Models.MapUserViewModel
<div class="member">
    <div class="member-label">@Model.Label</div>
    <div>
        <img src="@Url.Action("Photo", "Manage", new { id = Model.Id })" class="photo" />
        <span class="fullname">@Model.FullName</span>
        <input name="rating" type="number" class="rating" min=0 max=5 step=1 value="@Model.Rating" readonly="readonly">
    </div>
</div>