@model MapLend.Mvc.Models.MapListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    @foreach (var map in Model.MyMaps)
    {
        <li>@Html.ActionLink(map.Name, "Details", new { id = map.Id })</li>
        <li><a href="Maps/Details/@map.Id">@map.Name</a></li>
    }
</ul>
