@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MAP !</h1>
    <p class="lead">Pour des prêts locaux et temporaires... Echangez avec vos proches voisins.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nouveau venu ?</h2>
        <p>
            Vous pouvez aussi rejoindre une MAP existante ! Si aucune ne vous convient, créez-en une...
        </p>
        <p>@Html.ActionLink("Rejoindre une MAP", "Find", "Map")</p>
    </div>
    <div class="col-md-4">
        <h2>Je suis dans une MAP</h2>
        <p>Je peux emprunter ou prêter à mes voisins</p>
        <p>@Html.ActionLink("Equipements disponibles", "NeighborhoodTools", "Tool")</p>
        <p>@Html.ActionLink("Mes équipements", "Index", "Tool")</p>
    </div>
    <div class="col-md-4">
        <h2>Vous avez des prêts en cours ?</h2>
        <p>Vous pouvez gérer vos prêts en cours.</p>
        <p>@Html.ActionLink("Voir tous mes prêts", "Index", "Lend")</p>
    </div>
</div>